[submodule "third_party/arduino_mqtt"]
	path = third_party/arduino_mqtt
	url = https://github.com/256dpi/arduino-mqtt
[submodule "third_party/google_cloud_iot_arduino"]
	path = third_party/google_cloud_iot_arduino
	url = https://github.com/GoogleCloudPlatform/google-cloud-iot-arduino
[submodule "third_party/adafruit_bmp280"]
	path = third_party/adafruit_bmp280
	url = https://github.com/adafruit/Adafruit_BMP280_Library
[submodule "third_party/sparkfun_sgp30"]
	path = third_party/sparkfun_sgp30
	url = https://github.com/sparkfun/SparkFun_SGP30_Arduino_Library
[submodule "third_party/sparkfun_scd30"]
	path = third_party/sparkfun_scd30
	url = https://github.com/sparkfun/SparkFun_SCD30_Arduino_Library
[submodule "third_party/arduino_esp32"]
	path = firmware/components/arduino
	url = https://github.com/espressif/arduino-esp32
